{{ define "main" -}}
<div class="post">
	<h1>{{ .Title }}</h1>
	<div class="post-date">
		<time datetime={{ .Date.Format "2006-01-02T15:04:05Z0700" }} >创建于{{ .Date.Format "2006年01月02日"}}</time>
		<time datetime={{ .Lastmod.Format "2006-01-02T15:04:05Z0700" }} >最后更新于{{ .Lastmod.Format "2006年01月02日"}}</time>
	</div>
	{{ .Content }}
	<div>
	  <p style="border-top:1px solid #eeeeee;padding-top:1rem;">如果你觉得本文对你有帮助或不错，可略表心意，<span style="color:#f44336">请我喝一杯冰可乐。 </span>☕</p>
	  <img src="/pay.jpg"></img>
	</div>
</div>
{{ if .Page.Store.Get "hasMermaid" }}
<script type="module">
	import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
	mermaid.initialize({ startOnLoad: true });
</script>
{{ end }}

<h2>Comments</h2>
{{ partial "comment.html" . }}
{{- end }}
